.hi-section{
    padding-top: 100px;
    height: calc(100vb);
    position: relative;
}
@media (min-width: 992px) {
    .hi-section::before{
        content: '';
        z-index: -10;
        position: absolute;
        background-color: #005083;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        clip-path:  polygon(100% 0, 0% 100%, 100% 100%);
    }
}
.hi-section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hi-section .container .text {
    padding: 7px;
    border-radius: 6px;
    box-shadow: 0 0 5px #00000054;
}
.hi-section .container .text .title{
    text-transform: capitalize;
    font-size: x-large;
    cursor: default;
}
.hi-section .text .btn-link{
    margin: 10px 0;
    text-align: start;
}
.hi-section .text .btn-link a{
    padding: 7px;
    text-transform: capitalize;
    margin-right:  7px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #0000005a;
}
.hi-section .text .btn-link a:hover{
    opacity: .8;
}
.hi-section .text .skill p{
    cursor: default;
    font-size: 22px;
    text-transform: capitalize;
}
.hi-section .text .skill ul{
    margin: 0;
    padding: 0;
}
.hi-section .text .skill ul i{
    font-size: 30px;
    flex-wrap: wrap;
}
.hi-section .text .skill ul i:not(:last-child){
    padding-right: 15px;
}
.hi-section .text .skill ul i:hover{
    opacity: .9;
}

.hi-section .container .image{
    position: relative;
    width: 400px;
    height: 600px;
}
.hi-section .container .image::before{
    content: '';
    z-index: -1;
    position: absolute;
    border-radius: 6px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: -10px;
    left: -10px;
    box-shadow: 0px 0px 7px #000000;
    box-shadow: -2px 2px 5px #00000062;
}

/* mobile screen */
@media (max-width: 768px) {
    .hi-section{
        margin: 0;
        padding-top: 100px;
        position: relative;
        overflow: hidden;
        height: calc(100vb);
    }
    .hi-section .container .image{
        display: none;
    }
    .hi-section .text {
        margin-left: auto;
        margin-right: auto;
    }
    .hi-section .container .text .title{
        font-size: large;
    }
    .hi-section .text .btn-link a{
        font-size: small;
    }
}
/* TABLET SCREEN SIZE */
@media (max-width: 992px) {
    .hi-section {
        background-image: url('../images/sectionTabMobile.jpg');
        background-position: bottom center;
        background-size: cover;
        position: relative;
    }
    .hi-section::before{
        content: '';
        background-color: rgba(255, 255, 255, 0.3);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    .hi-section .container{
        margin-top: 80px;
        padding: 40px 0;
        width: 100%;
    }
    .hi-section .container .image{
        display: none;   
    }
    .hi-section .container .text {
        margin: 0 auto;
        background-color: transparent;
        box-shadow: none;
        z-index: 10;
    }
}
