*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root{
  --section-space: 50px;
}

/* START CUSTOME THE SCROLLBAR */
::-webkit-scrollbar{
  width: 10px;
}
/* HANDELLER */
::-webkit-scrollbar-thumb{
  border-radius: 6px;
  background-color: #087ea4;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.285); 
}
::-webkit-scrollbar-thumb:hover{
  background-color: #066888;
}
::-webkit-scrollbar-track{
  background-color: #f6f6f6;
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
}
/* END CUSTOME THE SCROLLBAR */


/* START GLOBAL RULES */
.section-space{
  padding-top: var(--section-space);
  padding-bottom: var(--section-space);
}
/* wave */
.box-wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
}
.box-wave:before {
  content: '';
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  bottom: 0;
  left: 0%;
  opacity: 1;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
}
.box-wave-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.box-wave:before,
.box-inner {
  background-image: 
  url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23066888' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23066888' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
  url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23066888' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23066888' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
  url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23066888' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23066888' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e");
  background-repeat: repeat-x;
  background-size: 1600px 50%;
  background-position: 0 130%, -50px 130%, 500px 130%;

  animation: 20s waves linear infinite forwards;
}

@keyframes waves {
  to {
    background-position: 1600px 130%, 3150px 130%, 5300px 130%;
  }
}

.eye-btn{
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  color: #087ea4;
  font-size: 18px;
  padding-right: 20px;
}
/* START GLOBAL RULES */

/* START RESPONSIVE RULES */
.container
{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) 
{
  .container
  {
    width: 750px;
  }
}
@media (min-width: 992px) 
{
  .container
  {
    width: 970px;
  }
}
@media (min-width: 1200px) 
{
  .container
  {
    width: 1170px;
  }
}
/* END RESPONSIVE RULES */


/* START DARK MODE */
body,
.main-text,
.sub-text{
  transition: .5s;
}
body.dark-mode{
  background-color: #23272f;
  color: #f6f6f6;
}
body.dark-mode .section{
  background-color: #1a1e25;
}
body.dark-mode .main-text{
  color: #087ea4;
}
body.dark-mode .sub-text{
  color: #f6f6f6;
}
body.dark-mode .icon{
  background-color: #f6f6f6;
}
/* END DARK MODE */


body{
  font-family: sans-serif;
  background-color: #f6f6f6;
  color: #23272f;
  margin: 0;
  padding: 0;
}  
body .section{
  background-color: #eee;
}
.main-text{
  color: #087ea4;
}
.sub-text{
  color: #404756;
}
.icon{
  background-color: #404756;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}