.login{
    margin: 80px auto;
    width: calc(100% - 20px);
    border: 1px solid #777;
    border-radius: 6px;
    padding: 10px;
}
.login h2{
    padding: 10px;
}
.login input{
    position: relative;
    margin: 10px 0;
    width: 100%;
    padding: 7px;
    display: block;
    border: none;
    border-bottom: 1px solid #087ea4;
    border-radius: 6px;
    background-color: #eee;
    caret-color: #087ea4;
}
.login input:focus{
    outline: none;
}
.login input::placeholder{
    transition: .3s;
    color: #087ea4;
}
.login input:focus::placeholder{
    color: transparent;
}
.login form div{
    position: relative;
}
.login form .button{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #087ea4;
    border: 1px solid #087ea4;
}